section.city
    .city__wrap
        .city__content
            .city__image
                img(src=require("../../assets/images/city.svg"))
            .city__text
                h2.city__title 
                    | City of 
                    span.accent Love
                p.city__description.
                    Malang is the second largest city in East Java province, Indonesia. 
                    It has a history dating back to the ancient Mataram Kingdom. 
                    The city is famous for its cool temperature. People in East Java sometimes call it "Paris of East Java.
