footer.footer#footer
    .footer__container
        ul.footer-menu
            li.footer-menu-item 
                a.footer-menu-item__link(href="#") Term & Condition
            li.footer-menu-item 
                a.footer-menu-item__link(href="#") Policy
            li.footer-menu-item 
                a.footer-menu-item__link(href="#") Privacy
        .footer-social
            a.footer-social-item(href="#")
                +svgSprite(require('../../assets/icons/fb.svg'), 'footer-social-item__icon icon')
            a.footer-social-item(href="#")
                +svgSprite(require('../../assets/icons/twitter.svg'), 'footer-social-item__icon icon')
            a.footer-social-item(href="#")
                +svgSprite(require('../../assets/icons/instagram.svg'), 'footer-social-item__icon icon')
    .footer-copyring copyright@YokMalang. Allright Reserved. 2015
    
