include header

section.hero
    .hero__container
        +header({
            "nav": [
                {
                    "name": "Home",
                    "href": "#"
                },
                {
                    "name": "Destination",
                    "href": "#"
                },
                {
                    "name": "Ittinary",
                    "href": "#"
                },
                {
                    "name": "Review",
                    "href": "#"
                },
                {
                    "name": "Contact",
                    "href": "#"
                },
            ]
        })
        include promo
                
            
