section.itinerary#itinerary
    h2.itinerary__title 
        | Set 
        span.accent Itinerary
    p.itinerary__help.
        Simply drag and drop what you want to visit, and voila we make a itinerary and schedule for your vacation. #[<br>]
        have a great trip !
    .itinerary__interact-wrap
        form.itinerary-form
            h3.itinerary-form__header Your Itinerary Title Here
            .itinerary-form__main
                .itinerary-form__legend
                    .itinerary-form__legend-name Day 1
                    input.itinerary-form__legend-date(type="date")
                .itinerary-form__input
        .itinerary-list
