section.keep#keep
    .keep__container
        .keep__text
            h2.keep__title Keep in Touch
            p.keep__description We Will Give you latest information about Malang
        .keep__input-group
            input.keep__input(type="text" placeholder="Type Email Here for Subscribe")
            button.keep__btn.btn >
