section.promo
    h1.promo__title
        | LETS GET 
        span.accent LOST
    p.promo__text
        | Malang will never dissapointed you.
        br
        | From every step you took you will be amazed and suddenly fallin love with Malang
    a.promo__btn.btn(href="#") SET ITINERARY NOW
        
