body {
    font-size: 16px;
    font-family: "Lato", Arial, sans-serif;
    line-height: 1.5;
}

p {
    font-size: 16px;
    line-height: 35px;
    color: #777;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-family: "ChunkFive", serif;
        font-style: normal;
        letter-spacing: .04em;
    }
}
