@font-face {
    font-family: 'ChunkFive';
    src:local('ChunkFive'),
        url('../assets/fonts/ChunkFive/ChunkFive.woff') format('woff'),
        url('../assets/fonts/ChunkFive/ChunkFive.svg#ChunkFive') format('svg'),
        url('../assets/fonts/ChunkFive/ChunkFive.eot'),
        url('../assets/fonts/ChunkFive/ChunkFive.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
