// settings
$grid-cols: 12;
$grid-gutter: 30px;
$grid-half-gutter: $grid-gutter / 2;

$grid-breakpoints: (
    xs: 320px,
    sm: 480px,
    md: 720px,
    lg: 960px,
    xl: 1024px,
    xx: 1200px
);

// helpers
@mixin for-size-bigger-than($size-name) {
    @media screen and (min-width: map-get($grid-breakpoints, $size-name)) {
        @content;
    }
}

@mixin for-size-smaller-than($size-name) {
    @media screen and (max-width: map-get($grid-breakpoints, $size-name) - 1) {
        @content;
    }
}

@mixin col-width($cols) {
    width: calc(#{100% / $grid-cols * $cols} - #{$grid-gutter});
}

// container
%container {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    transition: max-width .12s ease;
    @each $name, $value in $grid-breakpoints {
        @if $name != xs {
            @include for-size-bigger-than($name) {
                max-width: $value;
            }
        }
    }
}

@mixin container {
    @extend %container;
}

// flexbox based row styles
%row-flex {
    display: flex;
    box-sizing: border-box;
    margin-left: -1 * $grid-half-gutter;
    margin-right: -1 * $grid-half-gutter;
}

@mixin row-flex($wrap: wrap, $align-x: left, $align-y: stretch, $reversed: false) {
    @extend %row-flex;
    flex-wrap: $wrap;

    // X-axis alignment
    @if ($align-x == left and $reversed == false) or
        ($align-x == right and $reversed == true) {
        justify-content: flex-start;
    } @else if ($align-x == left and $reversed == true) or
               ($align-x == right and $reversed == false) {
        justify-content: flex-end;
    } @else {
        justify-content: $align-x;
    }

    // Y-axis alignment
    @if ($align-y == top and $reversed == false) or
        ($align-y == bottom and $reversed == true) {
        align-items: flex-start;
    } @else if ($align-y == top and $reversed == true) or
               ($align-y == bottom and $reversed == false) {
        align-items: flex-end;
    } @else {
        align-items: $align-y;
    }

    // Reverse
    @if $reversed == true {
        flex-direction: row-reverse;
    } @else {
        flex-direction: row;
    }
}

// inline-block based row styles
%row-inline-block {
    display: block;
    box-sizing: border-box;
    font-size: 0;
    margin-left: -1 * $grid-half-gutter;
    margin-right: -1 * $grid-half-gutter;
}

@mixin row-inline($wrap: wrap, $align-x: left, $reversed: false) {
    @extend %row-inline-block;
    // X-axis alignment
    text-align: $align-x;

    // Reverse
    @if $reversed == true {
        direction: rtl;
    } @else if $reversed == false {
        direction: ltr;
    } @else {
        direction: inherit;
    }
}

// common mixin row()
@mixin row($wrap: wrap, $align-x: left, $align-y: stretch, $reversed: false, $driver: flex) { // $align-y only to flex driver

    @if $driver == flex {
        @include row-flex($wrap: $wrap, $align-x: $align-x, $align-y: $align-y, $reversed: $reversed);

    } @else if $driver == inline-block {
        @include row-inline($wrap: $wrap, $align-x: $align-x, $reversed: $reversed);

    }

}

// common col styles
%col {
    box-sizing: border-box;
    margin-left: $grid-half-gutter;
    margin-right: $grid-half-gutter;
}

// flexbox based row item
@mixin col-flex($cols: 1, $align-y: auto) {
    @extend %col;
    @include col-width($cols);
    @if $align-y == top {
        align-self: flex-start;
    } @else if $align-y == bottom {
        align-self: flex-end;
    } @else {
        align-self: $align-y;
    }
}

@mixin col-flex-change($cols, $align-y: auto) {
    @include col-width($cols);
    @if $align-y == top {
        align-self: flex-start;
    } @else if $align-y == bottom {
        align-self: flex-end;
    } @else {
        align-self: $align-y;
    }
}

// inline-block based row item
@mixin col-inline($cols: 1, $align-y: top) {
    @extend %col;
    @include col-width($cols);
    display: inline-block;
    font-size: 1rem;
    @if $align-y == center {
        vertical-align: middle;
    } @else {
        vertical-align: $align-y;
    }
}

@mixin col-inline-change($cols, $align-y: top) {
    @include col-width($cols);
    @if $align-y == center {
        vertical-align: middle;
    } @else {
        vertical-align: $align-y;
    }
}

// common mixin col()
@mixin col($cols: 1, $driver: flex, $align-y: top) {

    @if $driver == flex {
        @include col-flex($cols: $cols, $align-y: $align-y);
    } @else if $driver == inline-block {
        @include col-inline($cols: $cols, $align-y: $align-y);
    }

}
