$grid-cols: 12;
$grid-gutter: 30px;
$grid-half-gutter: $grid-gutter / 2;

$grid-breakpoints: (
    xs: 320px,
    sm: 480px,
    md: 720px,
    lg: 960px,
    xl: 1024px,
    xx: 1200px
);

@mixin break($size) {
    @media screen and (min-width: map-get($grid-breakpoints, $size)) {
        @content
    }
}

%container {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    @each $name, $value in $grid-breakpoints {
        @include break($name) {
            max-width: $value;
        }
    }
}

@mixin container {
    @extend %container;
}

%row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: -1 * $grid-half-gutter;
    margin-right: -1 * $grid-half-gutter;
}

@mixin row($wrap: wrap, $align-x: space-between, $align-y: flex-start) {
    @extend %row;
    flex-wrap: $wrap;
    justify-content: $align-x;
    align-items: $align-y;
}

@mixin col-width($cols) {
    flex-basis: $cols / $grid-cols * 100%;
    width: $cols / $grid-cols * 100%;
}

@mixin item($cols) {
    flex: 0 0 auto;
    @include col-width($cols);
    padding-left: $grid-half-gutter;
    padding-right: $grid-half-gutter;
}