.hero {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../assets/images/hero-layer-0.jpg);
    background-size: cover;
    background-position: 50% 0;
    &__layer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 50% 100%;
        pointer-events: none;
        &-0 {
            z-index: 0;
            background-image: url(../assets/images/hero-layer-1.png);
        }
        &-2 {
            z-index: 2;
            background-image: url(../assets/images/hero-layer-2.png);
        }
        @include for-size-smaller-than(md) {
            display: none;
        };
    }
}

.promo {
    position: relative;
    width: 100%;
    padding: 25vh 15px 20vh 15px;
    text-align: center;
    z-index: 2;
    &__title {
        font-size: 80px;
        color: #fff;
        margin: 0 0 10px 0;
        @include for-size-smaller-than(md) {
            font-size: 48px;
        }
    }
    &__text {
        margin: 0;
        padding: 0;
        color: #fafafa;
        font-size: 18px;
        line-height: 35px;
    }
    &__btn {
        margin-top: 20px;
        font-weight: 900;
        font-size: 16px;
        padding: 30px 38px;
        border-radius: 44px;
        background-color: #ffffa6;
        color: #10273d;
        transition: background-color .24s ease;
        &:hover {
            background-color: #ffff5d;
        }
    }
}
