.ittinery {
    @include container($padding: 15px);
    background: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    &__title {
        text-align: center;
        font-size: 67px;
        color: #29d9c2;
        margin: 0;
        padding: 0;
    }
    &__help {
        margin-top: 58px;
        text-align: center;
        color: #777;
            
    }
    &__interact-wrap {
        @include row-inline;
        margin-top: 130px;

    }
    &-form {
        @include col-inline(7);
        &__header {
            padding: 28px 30px;
            background: url('../assets/images/ittinery-form-header.svg') 100% 100% no-repeat;
            background-color: #29d9c2;
            border-radius: 5px 5px 0 0;
            text-align: center;
            font-size: 18px;
            font-weight: 900;
            color: #fff;
        }
        &__main {
            padding: 26px 30px 50px 30px;
            background-color: #ffffa6;
            border-radius: 0 0 5px 5px;
        }
    }
    &-list {
        @include col-inline(5);
    }
}