extends ../layout/template
include ../blocks/header

block content
    +header({
        "nav": [
            {
                "name": "Home",
                "href": "#hero"
            },
            {
                "name": "Destination",
                "href": "#destination"
            },
            {
                "name": "Itinerary",
                "href": "#itinerary"
            },
            {
                "name": "Contact",
                "href": "#contact"
            },
        ]
    })
    main
        include ../blocks/hero
        include ../blocks/city
        include ../blocks/destination
        include ../blocks/itinerary
        include ../blocks/contact
        include ../blocks/keep
